/*
	Bouncing Ball Main CSS
*/

/* --- Gradient Background --- */
html, body{

	margin: 0px;

	min-width: 100%;
	min-height: 100%;

	background-image: -moz-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -webkit-gradient(linear, top, bottom, from(#FFFFFF), to(#AAAAAA));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -o-linear-gradient(top, #FFFFFF, #AAAAAA);
	background: -ms-linear-gradient(top,  #FFFFFF, #AAAAAA);
	background-image: linear-gradient(to bottom, #FFFFFF, #AAAAAA);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#AAAAAA',GradientType=0 );

}

/* --- Physics Bound --- */
.bound{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* --- Ball --- */
.ball{
	/* For hiding till looading */
	left: -200px;
	top: -200px;
	
	position:absolute;
	width:122px;
	height:122px;
	margin-top:-60px;
	margin-left:-60px;

	transform: translateZ(0);
	-webkit-transform: translateZ(0);

}
.ball .ball-img{
	pointer-events:none;
	position: absolute;
	width: 132px;
	height: 167px;
	background: url(images/ball.png);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.ball-css {

	top:50%;
	left:50%;

	margin-top: -60px;
	margin-left: -60px;

	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 60px;

	background-image: -moz-linear-gradient(top, #A75084, #542842);
	background-image: -webkit-gradient(linear, top, bottom, from(#A75084), to(#542842));
	background-image: -webkit-linear-gradient(top, #A75084, #542842);
	background-image: -o-linear-gradient(top, #A75084, #542842);
	background: -ms-linear-gradient(top,  #A75084, #542842);
	background-image: linear-gradient(to bottom, #A75084, #542842);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A75084', endColorstr='#542842',GradientType=0 );

	box-shadow: inset 0 -5px 15px rgba(255,204,255,0.5),
		inset -2px -1px 40px rgba(0,0,0,0.4),
		10px 45px 15px rgba(0,0,0,.07),
		0 0 2px rgba(0,0,0,.4);

}
/* Ball Glow */
.ball-css::after {
	position: absolute;
	width: 72px;
	height: 40px;
	left: 24px;
	top: 7px;
	border-radius: 45px / 25px;

	background-image: -moz-linear-gradient(top, #EBEBEB 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, top, bottom, color-stop(0%,#EBEBEB), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, #EBEBEB 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, #EBEBEB 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, #EBEBEB 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, #EBEBEB 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEBEB', endColorstr='#00FFFFFF',GradientType=0 );

	content: "";
}

/* Console */
.stats{
	position: absolute;
	pointer-events:none;
}